.main{
  margin: 3em;
}

h1{
  color: #FFF;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contents{
  width: 22.75rem;
  height: 4.5rem;
  flex-shrink: 0;
  margin-top: 3em;
}

.text{
  display: flex;
  width: 22.75rem;
  height: 2.25rem;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.pas{
  width: 17.9375rem;
  height: 2.25rem;
  flex-shrink: 0;
  border: none;
}

.but{
  width: 4.8125rem;
  height: 2.25rem;
  flex-shrink: 0;
  background: #6A3655;
  border: none;
  color: #FFF;
  font-size: 0.75rem;
  font-weight: 400;
}

.choice{
  margin: 1.5em 0 0 0;
  color: #FFF;
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
}

.sep{
  padding: 0 1em 0 0em;
}

